:root {
    --color-primary: #4f46e5;
    --color-primary-hover: #4338ca;
    --color-background: #f5f7fb;
    --color-surface: #ffffff;
    --color-border: #dcdfe6;
    --color-text: #1f2937;
    --color-text-light: #6b7280;
    --color-error: #dc2626;
    --color-success: #16a34a;

    --font-default: 'Segoe UI', sans-serif;

    --radius: 12px;

    --shadow:
            0 4px 12px rgba(0, 0, 0, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-default);
    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

button,
input {
    font-family: inherit;
}